.DS_Store
/*
.classpath
.project
.settings
*.iml
logs
!/.gitignore
!/README.md
!/applications
/applications/*
!/applications/hello
/applications/hello/*
!/applications/hello/application.properties
!/applications/hello/private
!/applications/hello/src
!/pom.xml
!/server.properties
!/sync-api
/sync-api/target
!/sync-core
/sync-core/*.class
/sync-core/target
!/sync-distribution
/sync-distribution/target
!/sync-netty
/sync-netty/target
!/sync-startup
/sync-startup/target
