/*
!/.gitignore
!/README.md
!/applications
/applications/*
!/applications/hello
/applications/hello/*
!/applications/hello/application.properties
!/applications/hello/private
!/applications/hello/src
!/build.properties
!/build.xml
!/server.properties
!/src
/src/*
!/src/api
!/src/asm
!/src/main
!/src/netty
!/src/startup
!/src/test
